---
layout: archive
title: "Talks & Presentations"
permalink: /talks/
author_profile: true
---

<ul>
<li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
<strong> Learning A Sparse Transformer Network for Effective Image Deraining </strong> <br>
Poster Presentation at VALSE, June 2023. [<a href="http://valser.org/2023/#/poster">link</a>]<br>
Talk at AI TIME, May 2023. [<a href="https://mp.weixin.qq.com/s/NXHU4YpdAU5YlFJQhq7L1A">report</a>]<br>
</font> </p> </li>
		      
<li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
<strong> Vision Enhancement in Harsh Environments: From Learning Mapping Relationships to Exploring Causal Relationships </strong>  <br>
Talk at Student Forum of China Society of Image and Graphics (CSIG), March 2023. [<a href="https://mp.weixin.qq.com/s/s-laGFgOqRIuDHW-cK1SuA">report</a>]<br>
Talk at Huawei Shanghai, August 2022. [<a href="https://mp.weixin.qq.com/s/btPSFAqck-_ABQ0YOTsQKQ">report</a>]<br>
Talk at Graduate Academic Forum of Chinese Journal of Image and Graphics, September 2021. [<a href="http://www.cjig.cn/jig/ch/reader/view_news.aspx?id=20211013092031001">report</a>]<br>
Talk at CCF/YEF Outstanding College Student Academic Show, May 2021. [<a href="https://www.ccf.org.cn/Chapters/Student_Chapters/SYSU/xsfhdt/2021-05-20/729599.shtml">report</a>]<br>
</font> </p> </li>
 
</ul>






<!-- {% if site.talkmap_link == true %}

{% endif %}	

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}  -->
