---
layout: archive
title: "Talks & Presentations"
permalink: /talks/
author_profile: true
---

  <ul>		      
	      <li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
		  <strong> Learning for Visions Under the Adverse Weather and Complex Illumination </strong>  <br>
		     Talk at Zhejiang Lab, June 2023. <br>
		     Talk at University of Cambridge, May 2023. [<a href="https://talks.cam.ac.uk/talk/index/200158">information</a>] [<a href="https://twitter.com/CamImaging/status/1657032715428831341?s=20">twitter</a>] <br>
		     Talk at South China University of Technology, March 2023. <br>
	      </font> </p> </li>


	   <li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
		  <strong> Basic Vision Models (Object Detection) </strong> <br>
		     Tutorial at The Hong Kong University of Science and Technology, February & September 2022. <br>
	      </font> </p> </li>
	  
	      <li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
		  <strong> Shadow Detection and Removal with Deep Learning </strong> <br>
		     Talk at Shanghai AI Laboratory, October, 2021. <br>
		     Talk at TechBeat, August 2021.  [<a href="https://www.techbeat.net/talk-info?id=577">video link</a>] [<a href="https://www.bilibili.com/video/av675112288">video link (bilibili)</a>] [<a href="https://zhuanlan.zhihu.com/p/405004052">report</a>]  <br>
		     Talk at Nanjing University, May 2021. <br>
		     Talk at Nanjing University of Science and Technology, May 2021. <br>
		     Talk at Nanjing University of Aeronautics and Astronautics, April 2021. <br>
		     Talk at Peng Cheng Laboratory Overseas Young Scientist Forum, July 2020. <br>  
		     Talk at Shantou University, December 2019.
	      </font> </p> </li>
		      
        <li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
		  <strong> Instance Segmentation and Instance Shadow Detection </strong> <br>
		     Tutorial at Nanjing University of Aeronautics and Astronautics, October 2021. <br>
	      </font> </p> </li>
		 
              <li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
		  <strong> Mask-ShadowGAN: Learning to Remove Shadows from Unpaired Data </strong> <br> 
		     Talk at Hong Kong Computer Vision Workshop, October 2019. (<span style="color:rgb(224, 145, 92)"><b>Best Oral Presentation Award</b></span>) <br> 
	      </font> </p> </li>
		 
	      <li> <p style="margin-left: 0px; line-height: 150%; margin-top: 0px; margin-bottom: 0px;"><font face="Arial" size="3"><meta charset="utf-8">
		  <strong> Direction-Aware Spatial Context Features for Shadow Detection  </strong> <br> 
		     Talk at AI Research Club, July 2018. 
	         [<a href="https://www.leiphone.com/news/201808/CbEQPq5usfUIPBpZ.html">report</a>] 
	      </font> </p> </li>
    
</ul>






<!-- {% if site.talkmap_link == true %}

{% endif %}	

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}  -->
